.vscode/*

genericIO/build/
genericIO/*.sw*
genericIO/lib
genericIO/doc
genericIO/include
genericIO/RUN_THIS

hypercube/build
hypercube/*.sw*

QTCube/build*
QTCube/*.sw*
QTCube/RUN_THIS

Born/build
Born/doc
Born/*.sw*
Born/*gch
Born/doc
Born/html
Born/latex
Born/RUN_THIS
Born/junk
Born/*.H
Born/*.json
Born/RUN
Born/*.o
Born/*P
Born/*.err
Born/*.out
Born/sendit.*

SEPlib/*Makefile.in
SEPlib/Makefile.in
SEPlib/*sitedef.h.in
SEPlib/*Makefile
SEPlib/*.lo
SEPlib/*.o
SEPlib/ylwrap
SEPlib/*.a
SEPlib/*.la
SEPlib/*~
SEPlib/sitedef.h
SEPlib/m4
SEPlib/*.bin
SEPlib/*.include
SEPlib/ltmain.sh
SEPlib/.libs
SEPlib/.deps
SEPlib/libtool
SEPlib/install-sh
SEPlib/missing
SEPlib/stamp-h1
SEPlib/configure
SEPlib/config.sub
SEPlib/config.status
SEPlib/config.log
SEPlib/makefont
SEPlib/depcomp
SEPlib/autom4te.cache
SEPlib/aclocal.m4
SEPlib/config.guess
SEPlib/junk.mod
SEPlib/*.sw*
SEPlib/junk.err
SEPlib/penmp
SEPlib/*mod
SEPlib/log
SEPlib/build
