*Makefile.in
Makefile.in
*sitedef.h.in
*Makefile
*.lo
*.o
ylwrap
*.a
*.la
*~
sitedef.h
m4
*.bin
*.include
ltmain.sh
.libs
.deps
libtool
install-sh
missing
stamp-h1
configure
config.sub
config.status
config.log
makefont
depcomp
autom4te.cache
aclocal.m4
config.guess
junk.mod
*.sw*
junk.err
penmp
*mod
log
build
